.swiper-pagination-bullet {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: rgba(4, 158, 4, 0.507);
  opacity: 1;
}

.swiper-pagination {
  margin-bottom: 0.75rem;
}